.design-page{
	background:url('../images/designpage/bg.png');
	background-size:cover;
	padding-top:10%;
}


.inline
{

	display: inline-block;

}



.design-page .design-menu
{
	background-color:#323536;
	width:200px;
	height:440px;
	color:#ddd;
	margin-right:20px;
}




.design-page .design-menu .design-menu-header
{
	margin-top:5px;
	width:180px;
	height:45px;
	margin-bottom:10px;

	font-size:18px;
	text-align:center;
	padding-top:5%;

}



.design-page .design-sub-menu
{
	background-color:#4D5659;
	width:163px;
	height:400px;
	margin-right:0;
	padding-top:20px;
	margin-top:20px;

}

.design-page .design-sub-menu ul
{
	list-style-type:none;
}

.design-page .design-sub-menu ul a
{
	color:#fff;
	font-size:15px;
	text-decoration:none;
}

.design-page .design-sub-menu ul a:active
{
	text-decoration:underline;
}



.design-page .design-preview
{
	width:325px;
	height:400px;
	text-align:center;

}

.preview-image
{
	position:absolute;
	height:447px;
	width:325px:

}

.fabrique-heading
{
	color:#000;
	font-size:16px;
	font-weight:300;
	text-decoration:underline;
}

.design-page .design-fabrique
{
	background:url('../images/designpage/chose fabrique/bg.png');
	width:841px;
	height:124px;
	margin-top:10px;
	padding:10px;
}

.design-page .design-fabrique a img
{
	margin:2px;
}

.design-page .design-side
{
	background:#000;
	height:350px;
	margin-top:5%;
}

.design-page .design-side h4
{
	color:white;
	border-bottom:1px solid grey;
	text-align:center;
}

.design-page .design-side ul 
{
	list-style-type:none;
	padding-left:18%;
}

.design-page .design-side ul li
{
	margin-top:10px;
}

.design-page .design-side img
{
	height:85px;
}

.design-page .design-side h5
{
	text-align:center;
}

.design-page .design-side .active img:before
{
	content:'Some content';
	display:block;
}
