@import url(https://fonts.googleapis.com/css?family=Raleway);
body
{
	font-family: 'Raleway', sans-serif;
}
/* Top Menu */
.top-menu
{
	width:100%;
	height:46px;
	background:url(../images/top-menu-bg.png);
	background-size:100% 100%;
	position:absolute;
	top:0px;
	right:0px;
	z-index:20;
	text-align:center;

}



.logo-section{
	
	float:inline-block;
	font-family: 'Raleway', sans-serif;
	color:#339a99;
	font-size:18px;
}

.logo-section p{
	display:inline-block;
}

.logo-image{
	
	padding:2px;
	width:44px;
	height:44px;

	
}


.top-menu ul
{
	display:block;
	list-style-type:none;
}

.top-menu ul li
{
	display:inline-block;
	margin-right: 25px;
	padding:5px;
}

.top-menu a
{
	font-family: 'Raleway', sans-serif;
	color:#ffffff;
	font-size:18px;
	font-weight: bold;
}

.top-menu a:hover
{
	text-decoration:underline;
}
.top-menu a:active
{
	color:#a45a5a;
}

.top-menu .logo-slogan
{
	display:inline;
	width:auto;
	text-align:right;
	padding-left:20%;
}

.top-menu .logo-slogan a
{
	text-decoration:none;
}

.login-link
{
		display:inline; 
		text-align:right;
		float:right;
		padding-right:5%;
		font-size:12px;
		padding-top:1%;
}


.language-select
{
		display:inline; 
		text-align:right;
		float:right;
		padding-right:5%;
		font-size:12px;
		padding-top:0.5%;
}

.login-link a
{
	font-size:12px;
}


.start-customizing
{
	position:absolute;
	top:50%;
	right:10%;
	z-index:20;
	box-shadow:10px 10px 15px #222 ;
}

.middle-band p
{
	font-family: 'Raleway', sans-serif;
	color:#fff;
	font-size:25px;
	text-align:center;
	
}

.middle-band
{
	background:url(../images/bg2.jpg);
	width:100%;
	background-repeat: repeat-x;
	background-size: 1000px 500px; 
	padding:5px;
}

.middle-band img
{
	margin-top:10%;
}

/* Statistics Section */
.stat-section
{
	width:			100%;
	height:			75vh;
	background:		url(../images/black-skirt-suits-for-womencustom-tailored-womens-suits-and-dresses-afzurmsh.jpg);
	background-size:cover;
	padding-top:	15%;
	padding-left:	2%;

}

.bg-video video
{
	position:relative;
	top:0;
	left:0;
	width:100%;
	padding:0;
	margin:0;
	z-index:1;
}

.stat-section
{
	padding:0;
	margin:0;
	position:relative;
}

.statistics
{
	z-index:10;
	position:absolute;
	top:20%;
	left:5%;
	color:#ddd;
	font-size:18px;
}

.statistics .row
{
	text-align:center;

}

/*********Models section********/
.models
{
	text-align:center;
	position:relative;
}

.models .offers
{
	position:absolute;
	top:10%;
	left:0;
	width:100%;
	text-align:center;
	z-index:10;
}

.models img
{
	box-shadow: 5px 5px 5px #333;
	margin:1%;
}


/********* footer section ********/
.footer
{
	width:100%;
	height:50vh;
	background:url(../images/bg2.jpg);
	background-repeat: repeat-x;
	background-size: 1000px 500px;
	padding:5%;
	color: grey;
}

.footer a
{
	color:#9b9b9b;
	font-size: 14px;
}

.footer a:hover
{
	text-decoration:underline;
}

.footer ul
{
	list-style-type:none;
}

.footer ul li
{
	margin-bottom: 5%;
}

.footer .powered-by
{
	text-align:center;
	font-size:12px;
}


.footer .powered-by a
{
	font-size:12px;
}


/*Responsive settings*/

@media only screen and (max-height:500px)
{
		.start-customizing
		{
			position:absolute;
			top:60%;
			left:30%;
			z-index:20;
			width:200px;
			
		}
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/*=========================================================================
/*						Media Section
/*========================================================================*/

@media only screen and (max-width:600px){    

		.top-menu a
		{
			font-size:9px;
		}

		.statistics
		{
			font-size:10px;
			width:80%;
			top:5%;
		}

		.statistics img
		{
			width:30px;

		}

		.models .offers
		{
			position:inherit;
		}

		.offers img
		{
			width:100%;
		}

		.footer
		{
			background-repeat:repeat-y;
			height:inherit;
		}

		.top-menu ul
		{
			text-align:left;
			width:50vh;
		}

		.top-menu ul li
		{
			display:block;
			
		}
}

@media only screen and (max-width:1100px){    


		.start-customizing
		{
			left:50vw;
			z-index:20;
			width:100px;
		}

		.top-menu a
		{
			font-size:18px;
		}

		.models .offers
		{
			position:inherit;
		}

		.offers img
		{
			width:100%;
		}

		.footer
		{
			background-repeat:repeat-y;
			height:inherit;
		}

		.grid
		{
			padding:0px;
		}
}

@media only screen and (max-width:800px){    
    .top-menu a
		{
			font-size:10px;
		}

	.start-customizing
		{
			position:absolute;
			top:20%;
			z-index:20;
			width:100px;
		}

	.start-customizing img
		{
			height:30px;
		}

		.statistics
		{
			font-size:11px;
			width:80%;
			top:5%;
		}

		.statistics img
		{
			width:30px;

		}


}


